/*
============================================================

	Theme Name: Aurum
	Theme URI: http://www.laborator.co/view-theme/aurum
	Author: Laborator
	Author URI: http://laborator.co/
	Description: Aurum &ndash; its a minimalist WooCommerce theme that will give you and your customers a smooth shopping experience which can be used for various kinds of stores such as boutiques, bookstores, technology stores, jewelries and other types of web shops. It is beautiful, flexible and  super fast theme. You can find us on:  <a href="http://themeforest.net/user/laborator">Envato</a>, <a href="https://twitter.com/thelaborator">Twitter</a> or <a href="https://www.facebook.com/laboratorcreative">Facebook</a>.
	Version: 2.9.5
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: woocommerce, shopping, minimal, blog, translation-ready, theme-options, responsive-layout, ecommerce
	Text Domain: aurum

============================================================
*/

.menu-item a:hover {
	cursor: pointer!important;
}
.new-icon {
    margin-top: 4px;
}
.transparent-header header.site-header .header-widgets .cart-counter svg, .transparent-header header.site-header .header-widgets .new-icon {
	fill: #fff;
}
.transparent-header header.site-header.sticky.sticked .new-icon {
	fill: #222;
}
.view-cart .subscription-status td {
	padding: 8px 0!important;
}
.image_slider {
    display:none;
}
.video_slider {
    display:block;
}
/*@media screen and (max-width: 768px) {
    .image_slider {
    	display:block;
    }
    .video_slider {
    	display:none;
    }
}*/
.slider-subscription .mc4wp-form-24 .mc4wp-form-fields {
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
}
.slider-subscription .mc4wp-form-24 .mc4wp-form-fields input{
	margin-left: 10px;
}
